<div class="container">
    <div class="card bg-light" style="max-width: 50rem;">
        <div class="card-header"><h3>About</h3></div>
        <div class="card-body">
          <p class="card-text">
            Welcome!!.. to e-Shopping Angular application.<br>
            This applicaiton is build only for practices and to refresh angular concepts.
            So, in this application data base is not used. When the application is refreshed.
            All the changes will not visible.
          </p>
          <h5 class="card-title"><i>Application functionality:</i></h5>
          <p class="card-text">
            This applicaiton has two categories.<br>
            <i>
              <b>i) Public View Pages: </b> 
              Any user can view the products, add them to the card and place the order.
            </i> <br/>
            <i>
              <b>ii) Admin View Pages: </b> 
              To manager products and orders details only admin can view this page.
              <br>
              For login in to the application use pincode "admin". 
            </i>         
          </p>
        </div>
      </div>
</div>

