<div class="container" >
    <div class="row">
        <div class="col-md-3">
            <div class="sticky-top">
                <div class="list-group">
                    <a 
                        class="list-group-item list-group-item-action"
                        [class.active]="!categoryKey"
                        routerLink="/">
                        All Categorys
                    </a>
                    <a *ngFor="let c of categorys let i = index"
                        routerLink="/"
                        [queryParams]="{ category: i+1 }"
    
                        class="list-group-item list-group-item-action"
                        [class.active] = "categoryKey === i+1">
                        {{ c.name }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <ng-container *ngFor="let p of filterProducts; let i = index">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img [src]="p.imageUrl" class="card-img-top">
                            <div class="card-body">
                              <h5 class="card-title">{{ p.title }}</h5>
                              <p class="card-text">{{ p.price | currency:USD }}</p>
                              <div class="card-footer">
                                <button 
                                    *ngIf="getQuantity(p.id) === 0; else updateQuality"
                                    (click)="addToCart(p)" 
                                    class="btn btn-secondary btn-block">
                                    add cart
                                </button>
                                <ng-template #updateQuality>
                                    <div class="row no-gutters">
                                        <div class="col-2">
                                            <button (click)="removeFromCart(p.id)"
                                             class="btn btn-secondary bnt-block">-</button>
                                        </div>
                                        <div class="col text-center"> 
                                            {{ getQuantity(p.id) }} in cart
                                        </div>
                                        <div class="col-2">
                                            <button (click)="addToCart(p)" 
                                            class="btn btn-secondary bnt-block">+</button>
                                        </div>
                                    </div>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div *ngIf="(i+1)%2==0" class="w-100"></div>
                </ng-container>
            </div>
        </div>
    </div>
    
</div>
